
<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/images/logo.png"  alt="">
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
           Staff App
           <span style="padding-left: 90px;">

               <i class="fas fa-align-justify"></i>
           </span>
        </a>
    </div>
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <i class="fab fa-hire-a-helper"></i>
        </a>
        <a href="/" class="simple-text logo-normal">
          Help Desk
           <span style="padding-left: 90px;">

            <i class="fas fa-sort-down"></i>
           </span>
        </a>
    </div>
    <!-- <app-toolbar></app-toolbar> -->
    <ul class="nav">
        <li class=""><a routerLink=""><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp; Home</a></li>
        <li class=""><a routerLink=""><i class="fas fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Help Desk</a></li>
        <li class=""><a routerLink=""><i class="fas fa-chart-line"></i>&nbsp;&nbsp;&nbsp;Acitivities</a></li>
    </ul>
</div>
