<div style="width: 100%; height: 100%;">
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a>Staff Leave App</a>
      </header>
      <ul class="nav">
        <li>
          <a routerLink="/home">
            <i class="zmdi zmdi-view-dashboard"></i> <i class="fas fa-home"></i> &nbsp;Home
          </a>
        </li>
        <li>
          <a routerLink="/users">
            <i class="zmdi zmdi-view-dashboard"></i> <i class="fas fa-user-circle"></i> &nbsp;Users
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">
      <nav class="navbar navbar-default" style="width: auto;">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
              </a>
            </li>
            <li>
              <div class="dropdown" style="float:right;">
                <button class="dropbtn"><img style="width: 30px; height:30px;" src="https://png.pngitem.com/pimgs/s/151-1511463_blueberry-tab-bar-notification-notification-icon-png-transparent.png"
                    alt=""></button>
                <div class="dropdown-content">
                  <p>notification count</p>
                  <a style="cursor: pointer;" type="sumbit" >LogoutLogoutLogoutLogoutLogout</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown" style="float:right;">
                <button class="dropbtn"><img style="width: 30px; height:30px; border-radius: 30px;" src="{{ staffdetails.profileImage }}"
                    alt=""></button>
                <div class="dropdown-content">
                  <a style="cursor: pointer;" type="sumbit"  data-toggle="modal" data-target="#myProfileModal">Change Profile</a>
                  <a style="cursor: pointer;" type="sumbit" (click)="onLogout()">Logout</a>
                </div>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <nav class="navbar">
              <span style="position: absolute; margin-top: 20px; margin-left: 0px;"><i class="fas fa-search"></i></span>
              <input style="margin-top: 15px; margin-left: 20px;" type="text" class="form-control" name="partName"
                placeholder="Enter Part name to search ">
            </nav>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="container">
          <div class="row justify-content-end">
            <!-- <button type="button" style="position: relative; margin-left: 1000px; background-color: rgb(85, 206, 243); border: none;" class="btn btn-success" ><i class="fas fa-plus-circle"></i>&nbsp;Apply Leave</button> -->
          </div>
          <!--apply  Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="background-color: #EEEEEE;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="modal-title" style="margin-left: 40px;">Create a leave request for {{ StaffName }}</h1>
                </div>
                <div class="modal-body" style="height: 50vh; padding-top: 0px;" >
                  <div class="row">
                    <div class="jumbotron" style="border-radius: 10px;">
                      <form #f="ngForm" name="form" (ngSubmit)="onLeaveSubmit(f)" autocomplete="off">
                        <div class="form-group">
                          <input [(ngModel)]="leave.staffId" type="hidden" class="form-control" name="StaffId">
                        </div>
                        <div class="form-group">
                          <label>From Date</label>
                          <input [(ngModel)]="leave.fromDate" type="date" required  min="2021-08-25" class="form-control" name="FromDate">
                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['FromDate']
                            }}</span>
                        </div>
                        <div class="form-group">
                          <label>To Date</label>
                          <input [(ngModel)]="leave.toDate" type="date" required  min="2021-08-25" class="form-control" name="ToDate">
                          <span class="help-block" style="color: red;"  *ngIf="errorList">{{ errorList['ToDate']
                            }}</span>
                        </div>
                        <div class="form-group">
                          <label>Comments</label>
                          <textarea [(ngModel)]="leave.comments" type="text" class="form-control"
                            name="Comments" ></textarea>
                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['Comments']
                            }}</span>
                        </div>
                        <div class="form-group">
                          <label>Select Type of leave:</label>
                          <select [(ngModel)]="leave.LeaveType" class="form-control" id="sel1" name="LeaveType">
                            <option value="1">Casual Leave</option>
                            <option value="2">Annual Leave</option>
                          </select>
                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['LeaveType']}}</span>
                        </div>
                        
                        <div class="form-group">
                          <label>approvedBy</label>
                          <select [(ngModel)]="leave.approvedBy" class="form-control" id="sel1" name="ApprovedBy" >
                          <option *ngFor="let staff of staffdata; index as i" value="{{ staff.userId }}">{{ staff.firstName }}</option>
                          </select>
                          <!-- <input [(ngModel)]="leave.approvedBy" type="text" class="form-control" name="ApprovedBy"> -->
                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['address']
                            }}</span>
                        </div>
                        <!-- <div class="form-group" style="display: none;">
                          <label>Status</label>
                          <input [(ngModel)]="leave.status" type="text" class="form-control" name="Status">
                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['dob'] }}</span>
                        </div> -->
                        <button style="position: absolute; margin-left: 420px;" type="submit" class="btn btn-success">{{ isEdit ? 'update' : 'Apply' }}</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            <!--apply Model end -->
          </div>
          <!-- apply-get-leave-mode -->
          <div class="modal fade" id="myLeavesModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content" style="padding: 20px;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="modal-title">Showing all apply leaves of {{ StaffName }}</h1>
                </div>
                <div class="modal-body" style="width: auto;">
                  <div class="row">
                    <div class="">

                      <!-- <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
                            </h4>
                          </div>
                          <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
                            </h4>
                          </div>
                          <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
                            </h4>
                          </div>
                          <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                          </div>
                        </div>
                      </div>  -->
                      
                      <div class="panel-group" id="accordion" *ngFor="let applyLeave of applyLeaves; index as i; orderBy: reverse"  >
                        <div class="panel panel-default" >
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" aria-expanded="false" data-parent="#accordion" href="#{{ applyLeave.id }}">Leave {{ i+1 }}</a>
                            </h4>
                          </div>
                          <div id="{{ applyLeave.id }}" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <div class="row justify-content-between">
                                <div class="" style="padding: 20px;">
                                 <form action="" #ef="ngForm" name="editform" (ngSubmit)="onLeaveEdit(ef,applyLeave.id)" autocomplete="off">
                                  <table class="table table-responsive">
                                    <tr>
                                      <td>From Date</td>
                                      <!-- <td>{{ applyLeave.fromDate | date: 'dd/MM/yyyy' }}</td> -->
                                      <td>
                                        <div class="form-group">
                                          <!-- {{ applyLeave.fromDate | date: 'dd/MM/yyyy' }} -->
                                          <input [ngModel]="applyLeave.fromDate | date:'yyyy-MM-dd'" (ngModelChange)="updatedate($event)" [disabled]="isEdit" pattern="dd/MM/yyyy" type="date" required   class="form-control" name="FromDate">
                                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['FromDate']
                                            }}</span>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>To Date</td>
                                      <!-- <td>{{ applyLeave.toDate | date: 'dd/MM/yyyy' }}</td> -->
                                      <td>
                                        <div class="form-group">
                                          
                                          <input [ngModel]="applyLeave.toDate | date:'yyyy-MM-dd'" (ngModelChange)="updatedate($event)" [disabled]="isEdit" type="date" required   class="form-control" name="ToDate">
                                          <span class="help-block" style="color: red;"  *ngIf="errorList">{{ errorList['ToDate']
                                            }}</span>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Comments</td>
                                      <!-- <td>{{ applyLeave.comments }}</td> -->
                                      <td>
                                        <div class="form-group">
                                          <textarea [(ngModel)]="applyLeave.comments"  [disabled]="isEdit" type="text" class="form-control"
                                            name="Comments" ></textarea>
                                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['Comments']
                                            }}</span>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Approved By</td>
                                      <!-- <td *ngIf="applyLeave.approvedBy==0; else elseBlock">Not Approved</td> -->
                                      <td>
                                        <div class="form-group">
                                       
                                          <select [(ngModel)]="applyLeave.approvedBy"  [disabled]="isEdit" class="form-control" id="sel1" name="ApprovedBy" >
                                          <option *ngFor="let staff of staffdata; index as i" value="{{ applyLeave.approvedBy }}">{{ staff.firstName }}</option>
                                          </select>
                                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['address']
                                            }}</span>
                                        </div>
                                        <ng-template #elseBlock>
                                          
                                        </ng-template>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Leave Type</td>
                                      <td>
                                        <div class="form-group">
                                          <select [(ngModel)]="applyLeave.leaveType"  [disabled]="isEdit" class="form-control" id="sel1" name="LeaveType" >
                                            <option   value="{{ applyLeave.leaveType }}">Casual Leave</option>
                                            <option  value="{{ applyLeave.leaveType }}">Annual Leave</option>
                                          </select>
                                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['address']
                                            }}</span>
                                        </div>
                                        <ng-template #elseBlock>
                                          
                                        </ng-template>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Status</td>
                                      <!-- <td *ngIf="applyLeave.status==0; else elseBlock">Pending</td> -->
                                      <td>
                                        <div class="form-group">
                                          <input [(ngModel)]="applyLeave.status" disabled type="text" class="form-control" name="Status" >
                                          <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['dob'] }}</span>
                                        </div> 
                                      </td>
                                      <ng-template #elseBlock>
                                        
                                      </ng-template>
                                    </tr>
                                    <tr>
                                      <input [(ngModel)]="applyLeave.status"  type="hidden" class="form-control" name="Status" >
                                    </tr>
                                    <tr>
                                      <button style="position: absolute; margin-left: 420px;" type="submit" (click)="updateButtonStatus()" class="btn btn-success">{{ isEdit ? 'Edit' : 'Update' }}</button>
                                    </tr>
                                  </table>
                                 </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
              </div>
            </div>
            <!--apply Model end -->
          </div>
          <!--apply change profile  Modal -->
          <div class="modal fade" id="myProfileModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="background-color: #EEEEEE;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="modal-title" style="margin-left: 40px;">Chage profile of {{ StaffName }}</h1>
                </div>
                <div class="modal-body" >
                  <div class="row" style="padding: 20px">
                    <form action="" enctype="multipart/form-data"  #af="ngForm" name="avatarform" (ngSubmit)="onAvatarUpdate(af)" autocomplete="off">
                      <div class="form-group">
                        <input [(ngModel)]="avatar.UserId" type="hidden" class="form-control" name="UserId">
                      </div>
                      <div class="form-group">
                        <label for="">Select avatar image</label>                
                        <input [(ngModel)]="avatar.MyFile" type="file" required (change)="handleFileInput($event)" class="form-control" name="MyFile">
                        <span class="help-block" style="color: red;" *ngIf="errorList">{{ errorList['FromDate']
                          }}</span>
                      </div>
                      <button style="position: absolute; margin-left: 485px;" type="submit" class="btn btn-success">{{ isEdit ? 'update' : 'Update' }}</button>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            <!--apply Model end -->
          </div>
          <!-- apply-profile-mode -->
          <div class="container">
            <div class="col-6">
              <div class="row justify-content-end ml-2">
                <!-- <button class="btn btn-success" (click)="goToViewPage()">Add New interview</button> -->
              </div>
              <div>

              </div>
              <table class="table table-responsive" style="position: absolute; margin-left: -50px;"> 
                <caption><h1>Showing Staff Details</h1></caption>
                <thead>
                  <tr>
                    <th><i class="fa fa-sort"></i>&nbsp;No </th>
                    <th><i class="fa fa-sort"></i>&nbsp;FirstName</th>
                    <th>LastName</th>
                    <th>mobile</th>
                    <th>Address</th>
                    <th>Dob</th>
                    <th>C-Leave</th>
                    <th>A-Leave</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let staffdetail of staffdata;">
                    <td>{{ staffdetail.id}}</td>
                    <td>{{ staffdetail.firstName}}</td>
                    <td>{{ staffdetail.lastName}}</td>
                    <td>{{ staffdetail.phoneNumber}}</td>
                    <td>{{ staffdetail.address}}</td>
                    <td>{{ staffdetail.dob | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ staffdetail.casualLeave}}</td>
                    <td>{{ staffdetail.annualLeave}}</td>
                    <td>&nbsp;&nbsp;
                      <button (click)="setId(staffdetail.userId,staffdetail.firstName)"><i   data-toggle="modal" data-target="#myModal"
                        class="fa fa-plus-circle" style="cursor: pointer;"></i>
                      </button>&nbsp;
                      <button (click)="setStaffId(staffdetail.id,staffdetail.firstName)"><i   data-toggle="modal" data-target="#myLeavesModal"
                            class="fas fa-info" style="cursor: pointer;"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <pagination-controls class="text-center my-pagination" ></pagination-controls> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>